venv/
.idea/
**/index
**/__pycache__
**/*.pyc
**/archive
**/*.db*
**/*.iml
**/Logs
**/logs
**/*.log
**/*.log*
**/*.egg-info
**/faiss_*_docs
**/*.swp
**/target
**/output.json
**/execution_json
**/dist
**/workspaces
**/build
**/.DS_Store
**/node_modules
**/.vscode
**/*dont_commit*
storage
**/.ipynb_checkpoints
**/privacera-shield-config.json
/cypress/screenshots/
/cypress/videos/
**/custom-configs
**/.coverage
backend/paig/temp
**/.cache
paig-server/backend/paig/paig_server.pid