/*
  Theme: Privacera
  Author: Sanket B.
*/
/* Generic */
/* Bootstrap Extended */
/* Header */
/* Sidebar */
/* Bootstrap UI Elements */
/* Login Page */
/*rahul changes*/
* {
  &:focus {
    outline: none !important;
  }
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
header {
  background: #0096da;
  background: -moz-linear-gradient(-45deg, #0096da 0%, #28c3f3 100%);
  background: -webkit-linear-gradient(-45deg, #0096da 0%, #28c3f3 100%);
  background: linear-gradient(135deg, #0096da 0%, #28c3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096da', endColorstr='#28c3f3',GradientType=1 );
}
.navbar-fixed-top {
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 250px;
  background: #1f2427;
  color: #fff;
  border-bottom: 1px solid #1B1F21;
  >h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
  }
}
.row-margin-bottom {
  margin-bottom: 20px;
}
.table {
  >thead {
    >tr {
      >th {
        background-color: #ececec;
      }
    }
  }
}
.btn-rounded {
  border-radius: 50%;
}
.btn-actions {
  >a {
    display: inline-block;
    margin: 0 3px;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    &:hover {
      -moz-transform: scale(1.4);
      -webkit-transform: scale(1.4);
      -o-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}
.breadcrumb {
  padding: 15px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
  >li {
    + {
      li {
        &:before {
          content: "/\00a0";
        }
      }
    }
  }
}
.username {
  position: relative;
  bottom: 5px;
  color: #fff;
}
.user-dropdown {
  >a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    &:hover {
      background-color: transparent !important;
    }
    >i {
      font-size: 22px;
      line-height: 50px;
      color: #fff;
    }
  }
}
.user-dropdown.open {
  >a {
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
}
.wrapper {
  margin-top: 50px;
  margin-left: 250px;
}
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: #353e40;
}
ul.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  >li {
    position: relative;
    >a {
      color: #a2acae;
      border-left: 2px solid transparent;
      display: block;
      padding: 15px 25px;
      letter-spacing: 1px;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      &:hover {
        background: #1f2427;
        border-left: 2px solid #3bafda;
        text-decoration: none;
      }
      >i {
        margin-right: 5px;
      }
    }
    >a.active {
      background: #1f2427;
      border-left: 2px solid #3bafda;
      text-decoration: none;
      >i {
        color: #3bafda;
      }
    }
  }
}
.tenet-tabs {
  .nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    li {
      margin-bottom: -2px;
      a {
        background-color: transparent;
        color: #333333;
        font-weight: 500;
        line-height: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 2px solid transparent !important;
      }
    }
    >li {
      >a {
        &:hover {
          color: #3bafda !important;
          border-color: transparent;
        }
      }
    }
    li.active {
      a {
        background-color: #ffffff;
        border: 0;
        border-top: 2px solid #3bafda !important;
        color: #3bafda;
      }
    }
  }
  .tab-content {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
}
body.login {
  background: url("../images/login-bg.jpg") no-repeat center center fixed;
}
.login-wrapper {
  margin: 7% auto;
  width: 360px;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.login-form {
  margin-top: 50px;
}
.navbar-img {
  height: 50px;
  top: 10%;
  left: 10%;
  margin-top: -15px;
}
.active-menu {
  background: #1f2427;
  border-left: 2px solid #3bafda !important;
  text-decoration: none;
}
.x.axis {
  line {
    fill: none;
    stroke: #000;
    stroke-width: 2.0;
  }
  path {
    fill: none;
    stroke: #000;
    stroke-width: 2.0;
  }
}
.y.axis {
  line {
    fill: none;
    stroke: #000;
    stroke-width: 2.0;
  }
  path {
    fill: none;
    stroke: #000;
    stroke-width: 2.0;
  }
}
.legend {
  font-size: 12px;
}
.fa-check {
  color: green;
}
.fa-times {
  color: red;
}
.tile_stats_count {
  color: #73879C;
  padding-left: 25px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
  }
  &:first-child {
    &:before {
      border-left: 0;
    }
  }
  >.count_top {
    font-weight: 500;
  }
  >.count {
    font-size: 32px;
    font-weight: 500;
  }
  >.count_red {
    color: #cc2a2b;
  }
  >.count_green {
    color: green;
  }
  >.count_bottom {
    font-size: 13px;
    font-weight: 500;
  }
  i.green {
    color: #1ABB9C;
  }
  i.red {
    color: #E74C3C;
  }
}
.nv-chart {
  svg {
    height: 339px !important;
  }
}
.lastThirty {
  svg {
    height: 279px !important;
  }
}
